@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #025329cc;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.header {
    text-align: center;
    color: white;
    font-family: "Montserrat" , sans-serif;
}

.energy_input {
    opacity: 0.3;
    filter: alpha(opacity=30);
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    font-family: "Montserrat" , sans-serif;
    text-align: center;
    color: white;
    background-color: rgb(10, 70, 10);
    border-radius: 10px;
    width: 350px;
    border: 0px;
    margin: 10px;
}

::placeholder {
    color: white;
}

.column {
    text-align: center;
    float: left;
    width: 33.33%;
    background-color: #025329cc;
}

.left-div {
    text-align: center;
    font-family: "Montserrat" , sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    float: left;
    width: 50%;

}

.right-div {
    text-align: center;
    font-family: "Montserrat" , sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    float: right;
    width: 50%;
}
  
.output:after {
    content: "";
    display: table;
    clear: both;
    color: white;
    background-color:rgb(105, 172, 146);
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    color: white;
    background-color:rgb(105, 172, 146);
}

li, a, button{
    font-family: "Montserrat" , sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}


.banner{
    width: 100%;
    height: 100vh;
    background-image: url(https://wallpaperaccess.com/full/1288329.jpg);
    background-size: cover;
    background-position: center;
}
 
img{
 width: 80px;
}

.logo {
    cursor: pointer;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all o.3s ease 0s;
}
.nav_links li a:hover {
    color:rgba(12, 187, 27, 0.384);
}

button{
    padding: 9px 25px;
    background-color: rgba(12, 187, 27, 0.384);
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: all o.3s ease 0s;
}

button:hover{
    background-color: rgba(12, 187, 27, 0.384);
}

.container {
    text-align: center;
    margin: auto;
    font-family: "Montserrat" , sans-serif;
    font-weight: 500;
    font-size: px;
    color: #edf0f1;
    width: 50%;
}

.test {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; /* adjust this value to set the distance from the top of the page */
}

.logo {
    margin: 0 20px; /* adjust this value to set the distance between the logos */
    max-width: 100px; /* adjust this value to set the maximum width of the logos */
}

p {
    margin-bottom: 10px;
  }
